body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #333333;
	color: #fff;
	
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
/* table */
.MuiTable-root {
	background-color: #333333;
	color: #fff;	
}

/* .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
	padding: 0;
} */

/* tableHeader */
.css-1ygcj2i-MuiTableCell-root {
	border-bottom: 1px solid rgba(89, 89, 89, 1);
	color: #9B9B9B;
	font-weight: 500;
	padding: 10px 16px;
}

/* tableBody */
.css-1ex1afd-MuiTableCell-root {
	border-bottom: 1px solid rgba(89, 89, 89, 1);
}

/* tableRow border */
.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
	border-color: #595959;
}

/* input color */
.css-1n4twyu-MuiInputBase-input-MuiOutlinedInput-input{
	color: #fff;
}

/* tableRow color */
.css-1ex1afd-MuiTableCell-root {
	color: #fff;
}
